.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
*.iml
firebase-admin.json
google-services.json
GoogleService-Info.plist
.env