rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isGoogleUser() {
      return isSignedIn() && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }
    match /watchlist/{docId} {
      allow read: if isSignedIn() && resource.data.userID == request.auth.uid;
      allow update, delete: if isGoogleUser() && resource.data.userID == request.auth.uid;
      allow create: if isGoogleUser() && request.resource.data.userID == request.auth.uid;
    }
    match /watched/{docId} {
      allow read: if isSignedIn() && resource.data.userID == request.auth.uid;
      allow update, delete: if isGoogleUser() && resource.data.userID == request.auth.uid;
      allow create: if isGoogleUser() && request.resource.data.userID == request.auth.uid;
    }
    match /affiliateBanners/{bannerId} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.token.admin == true;
    }
    match /movies/{movieId} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.token.admin == true;
    }
    match /admin/{document=**} {
      allow read, write: if isSignedIn() && request.auth.token.admin == true;
    }
  }
}