rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /watchlist/{docId} {
      allow read, update, delete: if request.auth != null && resource.data.userID == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userID == request.auth.uid;
    }
    match /watched/{docId} {
      allow read, update, delete: if request.auth != null && resource.data.userID == request.auth.uid;
      allow create: if request.auth != null && request.resource.data.userID == request.auth.uid;
    }
    match /affiliateBanners/{bannerId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /movies/{movieId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /admin/{document=**} {
      allow read, write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}